// src/app/pages/admin/admin.component.scss
.admin-container {
  aside {
    border-right: 1px solid #dee2e6;

    .nav-link {
      color: #333;
      font-weight: 500;
      &.active {
        color: #007bff;
      }
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}
