.home-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  padding: 1rem;
  background-color: #f1f1f1;
  border-right: 1px solid #ccc;

  h3 {
    margin-top: 0;
  }

  .username {
    font-weight: bold;
    margin-bottom: 0.2rem;
  }

  .email {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1rem;
  }

  .menu button {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .btn-rojo {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
  }

  .btn-negro {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
    cursor: pointer;
  }
}

.contenido {
  flex: 1;
  padding: 2rem;

  section {
    margin-bottom: 2rem;
  }
}
.nuevo-comentario,
.ver-post-comentarios {
  margin-top: 1rem;
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    margin-right: 0.5rem;
  }

  button {
    margin-top: 0.5rem;
  }
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 1rem;
    background: #f3f3f3;
    padding: 0.5rem;
    border-radius: 5px;
  }
}
