<h2>📋 Listar Usuarios por Rol</h2>

<input type="text" [(ngModel)]="rol" placeholder="Ej: ROLE_PUBLIC o ROLE_ADMIN" />
<button (click)="buscarPorRol()">Buscar</button>

<p *ngIf="mensaje" style="color: red; margin-top: 10px;">{{ mensaje }}</p>

<div *ngIf="usuarios.length > 0" class="table-responsive mt-3">
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Usuario</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.name}}</td>
      <td>{{ usuario.user_name }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.rol }}</td>
      <td [ngStyle]="{ color: usuario.activo ? 'green' : 'red' }">
        {{ usuario.activo ? 'Activo' : 'Inactivo' }}
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pagination-controls">
    <button (click)="paginaAnterior()" [disabled]="paginaActual === 0">⏮ Anterior</button>
    <span>Página {{ paginaActual + 1 }} de {{ totalPaginas }}</span>
    <button (click)="paginaSiguiente()" [disabled]="paginaActual + 1 >= totalPaginas">Siguiente ⏭</button>
  </div>
</div>
