<div class="container mt-4">
    <h2 class="mb-3">👥 Mis amigos</h2>

    <div *ngIf="cargando" class="text-center">
        <div class="spinner-border text-primary"></div>
        <p class="mt-2">Cargando amigos...</p>
    </div>

    <div *ngIf="!cargando && error" class="alert alert-danger">{{ error }}</div>

    <ul *ngIf="!cargando && !error && amigos.length > 0" class="list-group">
        <li *ngFor="let amigo of amigos" class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>{{'@ '+ amigo.username }}</strong> - {{ amigo.email }}
            </div>
            <div>
                <button class="btn btn-sm btn-outline-primary me-2" (click)="verPerfil(amigo.username)">
                    🔍 Ver perfil
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="eliminar(amigo.username)">
                    ❌ Romper Amistad
                </button>
            </div>
        </li>
    </ul>

    <p *ngIf="!cargando && !error && amigos.length === 0">Aún no tienes amigos agregados.</p>
</div>
<div class="d-flex justify-content-between align-items-center mt-3 paginacion" *ngIf="!cargando && totalPaginas > 0">
    <button (click)="anteriorPagina()" [disabled]="paginaActual === 0" class="btn btn-outline-secondary">
        ⬅ Anterior
    </button>
    <span><strong>Página {{ paginaActual + 1 }} de {{ totalPaginas }}</strong></span>
    <button (click)="siguientePagina()" [disabled]="paginaActual + 1 >= totalPaginas" class="btn btn-outline-secondary">
        Siguiente ➡
    </button>
</div>